header
{
    width:700px;
    height:400px;
    position:fixed;
    top:0;
    left:0;
    z-index:5;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    border-top-left-radius:28px;
    border-top-right-radius:28px;
}
.menuImg
{
    widows: 700px;
    height: 400px;
}
.btn
{
  color:black; 
  font-size:30px;
  border-radius: 33px;
  background: #FFB948;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
   border: 2px solid black;
   position:absolute;
}
.play 
{
  width: 500px;
  height: 80px;
  top:23px;
  left:100px;
  z-index:2;
}
.backCSS
{
    display:block;
    top:23px;
    left: 600px;
}
.snake
{
    display: None;
}


/* Dropdown Button */
.dropbtn {
    width: 120px;
    height: 70px;
    background: #FFB948;
    color: black;
    padding: 16px;
    font-size:30px;
    border: 0px;
    cursor: pointer;
    -webkit-appearance: none;
    position: absolute;
    border: 2px solid black;
    border-radius: 33px;

 }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: absolute;
    display: inline-block;
    z-index: 2;
    left:290px;
    top:130px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}


